

@font-face {
  font-family: diatype;
  src: url(./abc-diatype-regular.otf);
}

body {
  font-family: 'diatype', serif; /* Using a fallback font */
  color: rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%; /* Updated: removed commas between percentages */
    padding: 10px;
    /* border-style: solid;
    border-width: 2px; */
}

hr{
  width:95%;
  
}
.headings-1{
 margin-top: 0%;
}

.links:hover{
  color: orange;
}

.images{
  width: 45%;
}

.me{
width: 35%;
float: right;
padding-left: 20px;
padding-bottom: 20px;
}

#content{
  padding-left: 50px;
  font-size: 18px;
}

#right-section{
  padding-left: 50px;
  padding-right: 20px;
}
ul {
    list-style-type: none;
  }

  a:link {
    color: rgba(0, 0, 0, 0.75);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkslategrey;
    background-color: transparent;

  }

  .side_list{
    font-size: 25px;
  }


.headings-2{
  font-size: 24px;
}

.play-build-play{
  width: 35%;
  padding: 0%;
  float: right;
}


/* js css */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  /* background-color: #222;
  padding: 2px 16px; */
  /* color: white; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.flower{
  height:300px;
  /* text-align: right; */
  
}

.mySlides{
  text-align: center;
}

