body {
  font-family: 'Trebuchet MS', serif; /* Using a fallback font */
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 60%; /* Updated: removed commas between percentages */
    padding: 10px;
    /* border-style: solid;
    border-width: 2px; */
}

.headings-1{
 margin-top: 0%;
}



#content{
  padding-left: 50px;
}

#right-section{
  padding-left: 50px;
}
ul {
    list-style-type: none;
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkslategrey;
    background-color: transparent;

  }

  .side_list{
    font-size: 21px;
  }


.headings-2{
  font-size: 24px;
}